table {
    margin: auto;
    width: 700px;
    border-radius: 5px;
    border-collapse: collapse;
    border-top: none;
    margin-top: 80px;
    margin-bottom: 75px;
    /* border: 1px solid black; */
}
.table td, .table th {
    border-bottom: 1px lightgray solid; 
    height: 30px;
    font-size: 14px;
}
.table td>p{
    height : 400px;
    padding : 30px;
    font-size: 16px;
    line-height: 30px;
    white-space: pre-line;
    /* overflow: scroll; */
}
.table td>h3{
    /* border-bottom: 1px lightgray solid;  */
    /* text-align: center; */
    font-size: 30px;
    padding: 30px;
    font-weight: 600;
}
.table td>span {
    float: right;
    padding: 10px;
    font-size: 18px;
}
.table>tfoot button{
    width: 70px;
    height: 30px;
    font-size: 15px;
    border: 0;
    /* outline: 1.5px #FFA100 solid; */
    border-radius: 5px;
    padding-left: 10px;
    background-color: #FFC766;
}
.table>tfoot button:active {
    width: 70px;
    height: 30px;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    /* outline: 1.5px #FFA100 solid; */
    background-color: #ffa200a9;
}
.table>tfoot tr td{
    text-align: right;
    border-bottom: none;
    padding: 10px 0px 10px 0px;
}
.table>tfoot tr td>a{
    text-decoration: none;
    padding: 15px;
}
.table>tfoot tr td>button{
    margin: 5px;
}