@font-face {
    font-family: "NotoSansKR";
    src: url(../font/NotoSansKR-VariableFont_wght.ttf);
}
body {
    font-family: "NotoSansKR";
	line-height: 1;
}

/* header */

header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white; /* 구분용 임시color*/
    border-bottom: 1px solid #A6A6A6;
}
header>.inner{
    width: 1280px;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    height: 115px;
}
header>.inner>h1{
    position: absolute;
    margin-top: 15px;
    left: 0;
}
header>.inner>h1{
    margin-left: 85px;
}
header>.inner>h1>a>img{
    width: 120px;
}
header>.inner>.top-menu{
    display: flex;
    justify-content: end;
}
header>.inner>.top-menu>li{
    position: relative;
    padding: 10px 20px;
    font-weight: 500;
}
header>.inner>.top-menu>li>a:hover{
    font-weight: 700;
    color: #FFA100;
}
header>.inner>.nav>ul{
    display: flex;
    justify-content: center;
    height: 79px;
}
header>.inner>.nav>ul>li{
    margin: 0 40px;
}
header>.inner>.nav>ul>li>a{
    font-size: large;
    font-weight: 700;
    line-height: 79px;
}
header>.inner>.nav>ul>li:hover{
    border-bottom: 5px solid #FFA100;
}
header>.inner>.nav>ul>li:hover .stress{
    color:#FFA100;
}

/* main */

main{
    background-color: white; /* 구분용 임시color*/
}

/* footer */

footer{
    background-color: rgba(128, 128, 128, 0.048);
    width: 100%;
    display: flex;
}
footer>.inner{
    width: 1280px;
    height: 200px;
    margin: auto;
    padding: 40px 200px 60px 32px;
    box-sizing: border-box;
}
.bold{
    font-weight: 700;
}
footer>.inner .before{
    padding: 10px;
}

/* footer-bottom */

footer>.inner>.bottom{
    margin: 25px 0 30px 10px;
}
footer>.inner>.bottom>span{
    padding: 5px 5px 30px 10px;
    font-size: 12px;
    position: relative;
}
footer>.inner>.bottom .before::before{
    content: " ";
    background-color: #d6d6d6;
    width: 3px;
    height: 13px;
    position: absolute;
    top: 15%;
    left: 0; 
}

/* footer-middle */

footer>.inner>.middle{
    margin: 0 10px 10px 10px;
}
footer>.inner>.middle>span{
    padding: 5px 5px 0 10px;
    font-size: 12px;
    position: relative;
}
footer>.inner>.middle .before::before{
    content: " ";
    background-color: #d6d6d6;
    width: 3px;
    height: 13px;
    position: absolute;
    top: 35%;
    left: 0; 
}

/* footer-top-title */

footer>.inner>.top-title{
    margin: 0 0 10px 10px;
    padding: 5px 30px 0 10px;
}